# build files in 'config'
/config/**/*.o
/config/**/*.a
/config/**/.built
/config/**/.depend
/config/**/Make.dep
/config/include/romfs.h

# build files in 'tof-app'
/tof-app/**/*.o
/tof-app/**/.built
/tof-app/**/.depend
/tof-app/**/Make.dep

# generated rcS file
/etc/init.d/rcS
